.angle_left{
    color: white;
    opacity: 0.8;
    z-index: 0;
}
.angle_left:hover{
    opacity: 0.3;
    cursor: pointer;
}

.angle_right{
    color: white;
    opacity: 0.8;
    margin-left: 90%;
    z-index: 0;
}
.angle_right:hover{
    opacity: 0.3;
    cursor: pointer;
}



.mySlides {display: none;}
.slideDis {display: block;}
.dotBC {background-color: white;}