footer {
    background-color: #fff;
    .footerUpper {
        height: 100px;
        border-bottom: 1px solid #E5E5E7;
        .upperBox {
            margin: 15px 0;
            display: inline-block;
            width: 100%;
            small {
                color: #959996;
                display: block;
                position: relative;
                top: 6px;
                margin-left: 30px;
            }
            .timeBox {
                display: inline-block;
                position: relative;
                left: 30px;
                .start {
                    margin-top: 15px;
                    position: relative;
                    opacity: 1;
                    pointer-events: auto;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .set {
                    margin-left: 20px;
                    position: relative;
                    opacity: 1;
                    pointer-events: auto;
                    &:hover {
                        cursor: pointer;
                    }
                }
                label {
                    display: inline-block;
                    margin-left: 13px;
                    color: $writingColor;
                    font-size: 16px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .startText {
                    margin-top: 10px;
                }
            }
            .dateBox {
                display: inline-block;
                margin-left: 10px;
                position: relative;
                left: 30px;
                input[type=date] {
                    transition: 1s;
                    height: 20px;
                    width: 150px;
                    z-index: 1;
                    &:hover {
                        border-bottom: 2px solid $lightCobalt;
                        cursor: pointer;
                    }
                }
                // .datepicker {
                //     transition: 1s;
                //     height: 20px;
                //     width: 150px;
                //     z-index: 1;
                //     &:hover {
                //         border-bottom: 2px solid #0095FF;
                //         cursor: pointer;
                //     }
                // }
                input[type=time] {
                    transition: 1s;
                    height: 20px;
                    width: 120px;
                    margin-left: 10px;
                    &:hover {
                        border-bottom: 2px solid $lightCobalt;
                        cursor: pointer;
                    }
                }
                // .timepicker {
                //     transition: 1s;
                //     height: 20px;
                //     width: 150px;
                //     margin-left: 10px;
                //     &:hover {
                //         border-bottom: 2px solid #0095FF;
                //         cursor: pointer;
                //     }
                // }
                // .dateIcon {
                //     width: 35px;
                //     position: absolute;
                //     left: 415px;
                //     top: 2176px;
                // }
                // .dateArrow {
                //     position: absolute;
                //     left: 455px;
                //     top: 2172px;
                //     font-size: 17px;
                //     color: #0095FF;
                // }
                // .timeIcon {
                //     width: 35px;
                //     position: absolute;
                //     left: 595px;
                //     top: 2176px;
                // }
            }
            .timerBox {
                display: inline-block;
                position: relative;
                float: right;
                top: -10px;
                left: -30px;
                .smallRight {
                    margin-left: 205px;
                }
                .timer {
                    display: inline-block;
                    font-size: 40px;
                    color: $lightCobalt;
                    position: relative;
                }
            }
        }
    }
    .footerLower {
        height: 70px;
        .fLowerLeft {
            display: inline-block;
            margin: 5px 30px;
            &:hover {
                cursor: pointer;
            }
            .fLeftArrow {
                font-size: 60px;
                color: $lightCobalt;
            }
            .leftSpan {
                display: inline-block;
                margin-left: 10px;
                font-size: 40px;
                position: relative;
                bottom: 7px;
                font-weight: 800;
            }
        }
        .fLowerRight {
            display: inline-block;
            float: right;
            display: inline-block;
            margin: 5px 30px;
            &:hover {
                cursor: pointer;
            }
            .fRightArrow {
                font-size: 60px;
                color: $lightCobalt;
                margin-left: 10px;
            }
            .rightSpan {
                display: inline-block;
                margin-bottom: 5px;
                font-size: 40px;
                position: relative;
                bottom: 7px;
                font-weight: 800;
            }
        }
    }
}