header {
    height: 60px;
    border-bottom: 3px solid #EDEBEA;
    box-shadow: 1px 1px 10px 1px #EDEBEA;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 5;
    .headerMenu {
        display: inline-block;
        position: relative;
        top: 10px;
        left: 30px;
        height: 35px;
        &:hover {
            cursor: pointer;
        }
        .menuArrowBox {
            display: inline-block;
            position: relative;
            bottom: 10px;
            .menuArrow {
                font-size: 20px;
                color: #367BD6;
            }
        }
        .headerMenuImg {
            position: relative;
            width: 30px;
        }
    }
    .logo {
        display: inline-block;
        position: relative;
        left: 40px;
        top: 10px;
        a {
            .logoImg {
                width: 75px;
            }
        }
    }
    .headerState {
        display: inline-block;
        position: relative;
        left: 70px;
        .exclamationBox {
            display: inline-block;
            position: relative;
            .exclamation {
                color: #FF8800;
                font-size: 23px;
            }
            .error {
                display: inline-block;
                font-weight: 400;
                color: #666565;
            }
            .error2 {
                display: inline-block;
            }
        }
        .progressBox {
            display: inline-block;
            position: relative;
            left: 70px;
            .spinner {
                color: #FFCA00;
                font-size: 23px;
            }
            .hProgress {
                display: inline-block;
                font-weight: 400;
                color: #666565;
            }
            .progress2 {
                display: inline-block;
            }
        }
        .completedBox {
            display: inline-block;
            position: relative;
            left: 140px;
            .check {
                color: #0095FF;
                font-size: 23px;
            }
            .completed {
                display: inline-block;
                font-weight: 400;
                color: #666565;
            }
            .completed2 {
                display: inline-block;
            }
        }
        .ReservedBox {
            display: inline-block;
            position: relative;
            left: 210px;
            .clock {
                color: #00E5A9;
                font-size: 23px;
            }
            .reserved {
                display: inline-block;
                font-weight: 400;
                color: #666565;
            }
            .reserved2 {
                display: inline-block;
            }
        }
    }
    .utilBox {
        display: inline-block;
        // position: relative;
        float: right;
        margin-top: 15px;
        margin-right: 95px;
        .userBox {
            display: inline-block;
            position: relative;
            .userImg {
                color: #C2C7C3;
                font-size: 30px;
            }
            .userName {
                display: inline-block;
                position: relative;
                bottom: 5px;
                left: 5px;
            }
            .arrowDown {
                position: relative;
                color: #000;
                font-size: 20px;
                left: 10px;
                bottom: 7px;
            }
            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }
        .noticeBox {
            display: inline-block;
            position: relative;
            left: 50px;
            .bell {
                color: #000;
                font-size: 25px;
            }
            .notice {
                position: absolute;
                border: 1px solid #0095FF;
                border-radius: 10px;
                background-color: #0095FF;
                color: #fff;
                top: -7px;
                right: -15px;
                font-size: 14px;
                width: 26px;
                text-align: center;
                height: 22px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.overlay {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0);
    overflow-x: hidden;
    transition: .5s;
}
.MenuBox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #666565;
        display: block;
        transition: 0.3s;
        &:hover {
            opacity: .5;
        }
    }
    .menuCloseBtn {
        color: #666565;
        font-size: 50px;
        position: absolute;
        top: -10px;
        right: 25px;
        &:hover {
            opacity: .5;
        }
    }
}

#userInfo2 {
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
    a {
        display: block;
        text-decoration: none;
        color: #666565;
        font-size: 18px;
        margin: 5px;
        &:hover {
            opacity: 0.5;
        }
    }
}